.ourproducts{
    width: 100vw;
}

.background{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("https://github.com/SungminJeong/entrega-Practica-DOM/blob/main/entrega_%20Pra%CC%81ctica%20DOM/assets/backgr.png?raw=true");
    background: url(/public/curology-6CJg-fOTYs4-unsplash.jpg);
    height: 300px;
    gap: 10px;
}

.background > h1{
    font-size: 40px;
    font-weight: 300;
}

.background > p{
    color: #333333;
}

.background > p> span{
    font-weight: bold;
}

.nav-bar{
    background-color: var(--nav-background-color);
    width: 100%;
    min-height: 60px;
}

.prud_container{
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
}

.side-bar{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-bar form{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    padding-left: 20px;
    gap: 10px;
}

#searchInput{
    border: none;
    padding: 7px 20px;
    border-radius: 10px;
}

.search-btn{
    border: none;
    border-radius: 10px;
    width: 100px;
    padding: 8px;
    background-color: var(--secondary-color);
    color: var(--description-background-color);
}

.search-btn:hover{
    cursor: pointer;
}

.nav-bar > form{
    display: flex;
    gap: 10px;
}


.busca-list{
    text-align: center;
    display: flex;
    gap: var(--small-padding);
    margin-top: 20px;
    margin-bottom: var(--small-padding);
}

.busca-list li{
    padding: 5px 0px;
    font-size: 18px;
    font-weight: 200;
    color: var(--description-color);
    cursor: pointer;
}

.produc_list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.produc_list > li{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    transition: 0.5s;
}

.smaller > li{
    width: 200px;
}

.smaller > li > article > p{
    font-size: 13px;
}

.smaller > li > article > p > span{
    font-size: 13px;
}


.produc_list > li:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.produc_list > li > article{
    background-color: var(--description-background-color);
    padding: 10px;
}

.produc-img{
    height: 301px;
}

.exprice{
    color: var(--exprice-color);
    font-size: 17px;
    padding-left: 10px;
    font-weight: lighter;
    margin-left: 10px;
    text-decoration: line-through;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary-background-color);
    padding: 0 10px;
}

.filtro{
    gap: 20px;
    display: flex;
    border: none;
    
}
/*
.sideBarLi:hover{
    cursor: pointer;
}
*/
.icon:hover{
    cursor: pointer;
}

.selling{
    font-weight: 200;
}

.modal_page{
    display: none;
}
.active{
    display: block;
}

.modal_img{
    width: 100px;
    height: 100px;
}

@media screen and (max-width:773px){
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav_menu{
        margin-top: 20px;
        margin-bottom: 20px;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}

@media screen and (max-width:755px){
    .produc_list > li{
        width: 300px;
    }
    .prud_container{
        flex-direction: column;
        align-items: center;
    }
    .side-bar{
        margin-bottom: 20px;
        width: 100%;
    }
    .side-bar form{
        padding: 0;
    }
}

@media screen and (max-width:558px){
    .nav-bar > form{
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }
}